@use "../abstracts/index" as *;

//Main
.main {
  @include flex(center, center, column, 0);
  text-align: center;

  & > * + * {
    margin-block-start: space("4xl");
  }
  section + section {
    margin: space("xl") auto;
    padding: space("lg"); // for mobile & tablet
  }
}

/*Snippets Section*/
.snippets {
  width: 100%;
  .snippets__header {
    width: 97%;
    max-width: 768px;
    margin: space("xl") auto;
    .snippets__desc {
      font-size: fluid-font(
        font-size("md"),
        calc(1vw + 0.6em),
        font-size("lg")
      );
    }
  }
  .snippets__body {
    width: 100%;
    max-width: 1050px;
    margin-top: space("4xl");
    & > * + * {
      margin-block-start: space("2xl");
    }
    .snippets__features {
      & > * + * {
        margin-block-start: space("2xl");
      }
      p {
        font-size: fluid-font(
          font-size("md"),
          calc(1vw + 0.3em),
          font-size("lg")
        );
      }
    }
    @include min("md") {
      @include flex(start, flex-start, row, space("xl"));
      text-align: left;
      .snippets__image {
        transform: translateX(-50px);
      }
      .snippets__features {
        max-width: 380px;
      }
    }
    /* desktop */
    @include min("xxl") {
      max-width: 1200px;
    }
  }
  @include max("md") {
    margin: space("2xl") auto;
    padding: space("xl"); // for mobile & tablet
  }
}

/* Access Section */

.access {
  .access__header {
    width: 98%;
    max-width: 768px;
    margin: 0 auto;
    .access__desc {
      font-size: fluid-font(
        font-size("md"),
        calc(1vw + 0.4em),
        font-size("lg")
      );
    }

    .access__image {
      margin: space("2xl") auto;
    }
  }
  .access__workflow {
    margin-bottom: space("2xl");
    p {
      font-size: fluid-font(
        font-size("md"),
        calc(1vw + 0.3em),
        font-size("lg")
      );
    }
  }
  /* body */
  .access__body {
    .access__features {
      @include flex(center, center, column, space("md"));
      width: 100%;
      .access__feature {
        max-width: 380px;
        @include flex(center, center, column, space("xl"));
        img {
          margin: 1.5rem auto;
        }
        p {
          font-size: fluid-font(
            font-size("md"),
            calc(1vw + 0.3em),
            font-size("lg")
          );
        }
          @include min("xxl"){
            max-width: 410px;
          }
      }
  /*     @include min("md"){
      .access__feature:first-of-type p {
        max-width: 480px;
      }
    } */
      @include min("md"){
        flex-direction: row;
        padding: 0.25rem;
      }
    }
  }
}

/* Partners Section */
.partners {
  width: 98%;
  margin: space("2xl") auto;
  .partners__logos {
    @include flex(center, center, column, 0);
    flex-wrap: wrap;
    img {
      margin-bottom: space("4xl");
    }
    @include min("md") {
      flex-direction: row;
      gap: space("4xl");
    }
    @include min("xxl") {
      gap: 8rem;
    }
  }
}

//Clipboard Section

.clipboard {
  width: 98%;
  margin: space("2xl") auto;
  p {
    font-size: fluid-font(font-size("md"), calc(1vw + 0.4em), font-size("lg"));
    max-width: 760px;
    margin: 0 auto space("2xl") auto;
  }
  .clipboard__buttons {
    @include flex(center, center, column, space("lg"));
    @include min("md") {
      flex-direction: row;
    }
  }
}
